<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <meta name="description" content="">
    <head-placeholder token="{{ placeholder_token }}">
    <css-placeholder token="{{ placeholder_token }}">
    {#<link rel="stylesheet" href="/sites/femininbio.com/themes/femininbio_v2/css/facture/normalize.css">
    <link rel="stylesheet" href="/sites/femininbio.com/themes/femininbio_v2/css/facture/print.css">
    <link rel="stylesheet" href="/sites/femininbio.com/themes/femininbio_v2/css/facture/screen.css" media="screen">#}
</head>
<body>
{{ page }}
</body>
</html>